<section class="container">
    <div class="row oe_spaced">
        <h2 class="oe_slogan" style="">Leaves management for all</h2>
        <h3 class="oe_slogan">Manage employee vacations &amp; absence</h3>
        <div class="col-md-12">
            <div class="oe_demo oe_picture oe_screenshot">
                <img src="leave_request.png">
            </div>
        </div>
    </div>
</section>

<section class="container oe_dark">
    <div class="row oe_spaced">
        <h2 class="oe_slogan" style="">Manage employee leaves</h2>
        <h3 class="oe_slogan">Keep track of all your employees vacations</h3>
        <div class="col-md-6 text-justify">
            <p class="oe_mt32">
            Keep track of the vacation days taken by each employee. Employees enter their requests and managers approve and validate them, all in just a few clicks. The agenda of each employee is updated accordingly.
            </p>
            <p class="oe_mt8">
            Managers get a view of their whole team leaves in one complete view, to keep the team well-organized and to easily forecast the distribution of tasks during the absence of their members.
            </p>
        </div>
        <div class="col-md-6">
            <img class="oe_picture oe_screenshot" src="dashboard.png">
        </div>
    </div>
</section>

<section class="container">
    <div class="row oe_spaced">
        <h2 class="oe_slogan" style="">Approve or refuse leave requests</h2>
        <h3 class="oe_slogan">Handle all requests from your employees</h3>
        <div class="col-md-6">
            <img class="oe_picture oe_screenshot" src="leaves_sc_02.png">
        </div>
        <div class="col-md-6">
            <p class="oe_mt32 text-justify">
            Allow employees to record their requests for vacation themselves, and get notified by email for every new request. Decide to either approve them or to refuse them, and add a note to your refusal to give an explanation to your employees.
            </p>
        </div>
    </div>
</section>

<section class="container oe_dark">
    <div class="row oe_spaced">
        <h2 class="oe_slogan" style="">Get reports to plan ahead</h2>
        <h3 class="oe_slogan">Simple reporting tool</h3>
        <div class="col-md-6">
            <p class="oe_mt32 text-justify">
            Create reports in a single click for every leave request, with a detail per request type, employee, department and even for the whole company. Get statistics on the leaves and plan for the upcoming to make sure you keep productivity to its highest level.
            </p>
        </div>
        <div class="col-md-6">
            <img class="oe_picture oe_screenshot" src="analysis.png">
        </div>
    </div>
</section>

<section class="container oe_separator">
</section>
