.oe_product section {
    background: rgba(40, 40, 40, 0.85) !important;
}
.oe_product section .text-info {
    color: #BA66E4;
}
ul.wizard li {
    background: #222 !important;
}
ul.wizard .chevron:before {
    border-left: 10px solid #222 !important;
}
.popover, .modal-content {
    border: 1px solid rgba(200,200,200,0.5);
}
.close {
    color: #fff;
}
.popover.bottom .arrow:after {
    border-bottom-color: #333;
}
.popover.top .arrow:after {
    border-top-color: #333;
}
.popover.left .arrow:after {
    border-left-color: #333;
}
.popover.right .arrow:after {
    border-right-color: #333;
}                                                                